<h2>Добавление нового тура</h2>

<%= form_for :tour, url: tours_path do |f| %>
  <p>
    Название турбазы<br>
    <%=f.text_field :tourbase_name %>
  </p>
  <p>
    id города<br>
    <%= f.text_field :city_id %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>