<div class="px-2 my-2">
  <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href=<%= new_country_path %>>Добавить</a>
</div>

<% @countries.each do |country| %>
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2><%= country.country_name%></h2>
        <a type="button" class="btn btn-outline-secondary" href=<%= edit_country_path(country) %>>Изменить</a>
        <%= link_to 'Удалить', country_path(country), method: :delete, :class => "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
<% end %>

