<div class="px-2 my-2">
  <a type="button" class="btn btn-primary btn-lg px-4 gap-3"  href="/country/new">Добавить</a>
</div>

<% @countries.each do |country| %>
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2><%= country.country_name%></h2>
        <button class="btn btn-outline-secondary" type="button">Изменить</button>
      </div>
    </div>
  </div>
<% end %>

