<%= form_with model: @new_country,local: false do |f| %>
  <p>
    <div class="px-2">
    <%= f.label :"Название страны" %>
    <%=f.text_field :country_name,placeholder: "Введите название" %>
    </div>
  </p>


  <div class="px-2 my-2">
    <%= f.submit "Добавить"%>
  </div>


<% end %>